/* .row{
    width: 100%;
    margin-top: 10px;
}
.row .row-title{    
    margin-left: 3%;
}
.wrapper{
    position: relative;
}
.wrapper .movie__slider{
  
    display: flex;    
    margin-left: 3%;
    width: max-content;
    gap: 5px;
    transform: translateX(0);
    
    transition: all 1s ease;
    overflow: visible;
}
.sliderArrow{    
    width: 45px;    
    height: 50px;
    height: 100%;
    color: #fff;
    background: rgb(22, 22, 22, 0.5);
    position: absolute;    
    z-index: 10000;
    cursor: pointer;
    font-size: 50px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 1rem 0;
    display: none;
    transition: background 150ms ease-in-out;
}
.sliderArrow:hover{
    background: rgb(22, 22, 22, 0.7);
}
.row:hover .sliderArrow{
    display: flex;
}
.sliderArrow.right{
    right: 0;  
    top: 0;  
    border-radius: 1rem 0 0 1rem;
}
.sliderArrow.none{
    display: none;
}
.movie-card{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.movie-card img {    
    width: 100%;    
    height: 100%;    
    border-radius: 0.2rem;
    z-index: 10;
}



.movie-card .hover{    
    position: fixed;      
    z-index: 9000 !important;
    height: 300px;
    width: 325px;
    top: 0;    
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    background: #181818;
    transition: 0.3s ease-in-out;
    background: red;
} */
